<!DOCTYPE html>
<head>
<title>VirtueJs</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="http://oberhamsi.github.io/virtuejs//static/main.css" />
<link rel="stylesheet" href="http://oberhamsi.github.io/virtuejs//static/sh_hns.css" />
<link rel="stylesheet" href="http://oberhamsi.github.io/virtuejs//static/tutorial.css" />
<script type="text/javascript" src="http://oberhamsi.github.io/virtuejs//static/sh_main.js"></script>
<script type="text/javascript" src="http://oberhamsi.github.io/virtuejs//static/sh_javascript.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript" src="http://oberhamsi.github.io/virtuejs//static/html5.js"></script>
<![endif]-->


</head>

<body onload="sh_highlightDocument()" lang="en">

  <header>
    <nav class="navigation">
      <h1><a href="http://oberhamsi.github.io/virtuejs/"><img src="http://oberhamsi.github.io/virtuejs//static/virtuejs-logo.png" alt="VirtueJs" title="Home" /></a></h1>
      <ul>
        <li><a href="http://oberhamsi.github.io/virtuejs//get_started.html">Get Started</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt.html">The template layer</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore.html">The model layer</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//stick.html">The view layer</a></li>
      </ul>
    </nav>
    <div style="clear: both;"></div>
  </header>

  <main class="main">

    <div class="content">
      <h1>Writing custom template tags</h1>

<p>Tags are more complex than filters, because tags can do anything.</p>

<h2>A quick overview</h2>

<p>The template system works in a two-step process: compiling and rendering. To
define a custom template tag, you specify how the compilation works and how
the rendering works.</p>

<p>When Reinhardt compiles a template, it splits the raw template text into
''nodes''. Each node is an instance of <code>reinhardt.nodes.Node</code> and has
a <code>render()</code> method. A compiled template is, simply, a list of <code>Node</code>
objects. When you call <code>render()</code> on a compiled template object, the template
calls <code>render()</code> on each <code>Node</code> in its node list, with the given context.
The results are all concatenated together to form the output of the template.</p>

<p>Thus, to define a custom template tag, you specify how the raw template tag is
converted into a <code>Node</code> (the compilation function), and what the node's
<code>render()</code> method does.</p>

<h2>Writing the compilation function</h2>

<p>For each template tag the template parser encounters, it calls a function with
the tag contents and the parser object itself. This function is responsible
for returning a <code>Node</code> instance based on the contents of the tag.</p>

<p>For example, let's write a template tag, <code>{% current_time %}</code>, that displays
the current date/time, formatted according to a parameter given in the tag, in
Java's SimpleDate syntax. It's a good idea to decide the tag syntax before
anything else. In our case, let's say the tag should be used like this:</p>


<pre class="sh_javascript"><code>&lt;p&gt;The time is {% current_time "HH:mm:ss" %}.&lt;/p&gt;</code></pre>

<p>The parser for this function should grab the parameter and create a <code>Node</code>
object:</p>


<pre class="sh_javascript"><code>var {TemplateSyntaxError} = require('reinhardt/errors');
exports.current_time = function(parser, token) {
    # split_contents() knows not to split quoted strings.
    var bits = token.splitContents();
    var tagName = bits[0];
    if (bits.length != 2) {
      throw new TemplateSyntaxError(tagName + " tag requires a single argument");
    }
    var formatString = bits[1];
    if (formatString[0] !== formatString.slice(-1) || ['"', "'"].indexOf(formatString) &lt; 0) {
      throw new TemplateSyntaxError(tagName + " tag argument should be in quotes");
    }
    return CurrentTimeNode(formatString.slice(1, -1));
}</code></pre>

<p>Notes:</p>

<ul><li><p><code>parser</code> is the template parser object. We don't need it in this
example.</p></li>

<li><p><code>token.contents</code> is a string of the raw contents of the tag. In our
example, it's <code>current_time "HH:mm:ss"</code>.</p></li>

<li><p>The <code>token.splitContents()</code> method separates the arguments on spaces
while keeping quoted strings together. The more straightforward
<code>token.contents.split()</code> wouldn't be as robust, as it would naively
split on <em>all</em> spaces, including those within quoted strings. It's a good
idea to always use <code>token.splitContents()</code>.</p></li>

<li><p>This function is responsible for raising <code>TemplateSyntaxError</code>, with
helpful messages, for any syntax error.</p></li>

<li><p>The <code>TemplateSyntaxError</code> exceptions use the <code>tagName</code> variable.
Don't hard-code the tag's name in your error messages, because that
couples the tag's name to your function. <code>token.splitContents()[0]</code>
will ''always'' be the name of your tag -- even when the tag has no
arguments.</p></li>

<li><p>The function returns a <code>CurrentTimeNode</code> with everything the node needs
to know about this tag. In this case, it just passes the argument --
<code>"HH:mm:ss"</code>. The leading and trailing quotes from the
template tag are removed in <code>formatString.slice(1, -1)</code>.</p></li>

<li><p>The parsing is very low-level. The Django developers have experimented
with writing small frameworks on top of this parsing system, using
techniques such as EBNF grammars, but those experiments made the template
engine too slow. It's low-level because that's fastest.</p></li></ul>

<h2>Writing the renderer</h2>

<p>The second step in writing custom tags is to define a <code>Node</code> subclass that
has a <code>render()</code> method.</p>

<p>Continuing the above example, we need to define <code>CurrentTimeNode</code>:</p>

<pre class="sh_javascript"><code>var dates = require('ringo/utils/dates');
var {Node} = require('reinhardt/nodes');

var CurrentTimeNode = function(formatString) {
  this.formatString = formatString;
  return this;
}
// use the getByType from superlcass `Node`.
CurrentTimeNode.prototype.getByType = Node.prototype.getByType;
CurrentTimeNode.prototype.render = function(context) {
   return dates.format(new Date(), this.formatString);
}</code></pre>

<p>Notes:</p>

<ul><li><p>the constructor gets the <code>formatString</code> from <code>current_time()</code>.
Always pass any options/parameters/arguments to a <code>Node</code> via its
constructor.</p></li>

<li><p>The <code>render()</code> method is where the work actually happens.</p></li>

<li><p><code>render()</code> should never raise <code>TemplateSyntaxError</code> or any other
exception. It should fail silently, just as template filters should.</p></li></ul>

<p>Ultimately, this decoupling of compilation and rendering results in an
efficient template system, because a template can render multiple contexts
without having to be parsed multiple times.</p>

<h2>Auto-escaping considerations</h2>

<p>The output from template tags is <strong>not</strong> automatically run through the
auto-escaping filters. However, there are still a couple of things you should
keep in mind when writing a template tag.</p>

<p>If the <code>render()</code> function of your template stores the result in a context
variable (rather than returning the result in a string), it should take care
to call <code>markSafe()</code> if appropriate. When the variable is ultimately
rendered, it will be affected by the auto-escape setting in effect at the
time, so content that should be safe from further escaping needs to be marked
as such.</p>

<p>Also, if your template tag creates a new context for performing some sub-
rendering, set the auto-escape attribute to the current context's value. The
constructor for the <code>Context</code> class takes a second parameter <code>autoescape</code>
that you can use for this purpose. For example:</p>


<pre class="sh_javascript"><code>var {Context} = require("reinhardt/context");
CurrentTimeNode.prototype.render = function(context) {
  // ...
  var newContext = new Context({'var': obj}, false);
  // ...
}</code></pre>

<p>This is not a very common situation, but it's useful if you're rendering a
template yourself. For example:</p>


<pre class="sh_javascript"><code>...render = function(context) {
    // ...
    var t = template.loader.loadTemplateSource('small_fragment.html')
    return t.render(Context({'var': obj}, context.autoescape))
  }</code></pre>

<p>If we had neglected to pass in the current <code>context.autoescape</code> value to our
new <code>Context</code> in this example, the results would have <em>always</em> been
automatically escaped, which may not be the desired behavior if the template
tag is used inside a <code>{% autoescape off %}</code> block.</p>

<h2>Thread-safety considerations</h2>

<p>Once a node is parsed, its <code>render</code> method may be called any number of
times. Since Reinhardt is run in multi-threaded environments, a single node
may be simultaneously rendering with different contexts in response to two
separate requests. Therefore, it's important to make sure your template tags
are thread safe.</p>

<p>To make sure your template tags are thread safe, you should never store state
information on the node itself. For example, Reinhardt provides a builtin
<code>cycle</code> template tag that cycles among a list of given strings each time
it's rendered:</p>


<pre class="sh_javascript"><code>{% for o in some_list %}
    &lt;tr class="{% cycle 'row1' 'row2' %}&gt;
        ...
    &lt;/tr&gt;
{% endfor %}</code></pre>

<p>A naive implementation of <code>CycleNode</code> might look something like this:</p>

<pre class="sh_javascript"><code>var {cycle} = require('reinhardt/utils/iter');

var CycleNode = function(cyclevars) {
  this.cycleIter = cycle(cyclevars);
  return this;
}

CycleNode.prototype.render = function(context) {
   return this.cycleIter.next();
}</code></pre>


<p>But, suppose we have two templates rendering the template snippet from above at
the same time:</p>

<ol><li>Thread 1 performs its first loop iteration, <code>CycleNode.render()</code>
returns 'row1'</li>
<li>Thread 2 performs its first loop iteration, <code>CycleNode.render()</code>
returns 'row2'</li>
<li>Thread 1 performs its second loop iteration, <code>CycleNode.render()</code>
returns 'row1'</li>
<li>Thread 2 performs its second loop iteration, <code>CycleNode.render()</code>
returns 'row2'</li></ol>

<p>The CycleNode is iterating, but it's iterating globally. As far as Thread 1
and Thread 2 are concerned, it's always returning the same value. This is
obviously not what we want!</p>

<p>To address this problem, Reinhardt provides a <code>renderContext</code> that's
associated with the <code>context</code> of the template that is currently being
rendered. The <code>renderContext</code> object should be used to store <code>Node</code> state
between invocations of the <code>render</code> method.</p>

<p>Let's refactor our <code>CycleNode</code> implementation to use the <code>renderContext</code>:</p>


<pre class="sh_javascript"><code>var {cycle} = require('reinhardt/utils/iter');

var CycleNode = function(cyclevars) {
  this.cyclevars = cyclevars;
  // each CycleNode needs a unique id
  // which we use to put our state into `renderContext`
  this.uuid = java.util.UUID.randomUUID().toString();
  return this;
}

CycleNode.prototype.render = function(context) {
   if (! context.renderContext.has(this.uuid)) {
      context.renderContext.set(this.uuid, cycle(this.cyclevars));
   }
   cycleIter = context.renderContext.get(this.uuid);
   return cycleIter.next();
}</code></pre>

<p>Note that it's perfectly safe to store global information that will not change
throughout the life of the <code>Node</code> as an instance property. In the case of
<code>CycleNode</code>, the <code>cyclevars</code> argument doesn't change after the <code>Node</code> is
instantiated, so we don't need to put it in the <code>renderContext</code>. But state
information that is specific to the template that is currently being rendered,
like the current iteration of the <code>CycleNode</code>, should be stored in the
<code>renderContext</code>.</p>

<h2>Passing template variables to the tag</h2>

<p>Although you can pass any number of arguments to a template tag using
<code>token.splitContents()</code>, the arguments are all unpacked as string literals.
A little more work is required in order to pass dynamic content (a template
variable) to a template tag as an argument.</p>

<p>While the previous examples have formatted the current time into a string and
returned the string, suppose you wanted to pass in a Date object and have the
template tag format that date-time:</p>


<pre class="sh_javascript"><code>&lt;p&gt;This post was last updated at {% format_time blogEntry.modified "MM/dd/yyyy" %}.&lt;/p&gt;</code></pre>

<p>Initially, <code>token.splitContents()</code> will return three values:</p>

<ol><li>The tag name <code>format_time</code>.</li>
<li>The string <code>"blogEntry.modified"</code> (without the surrounding
quotes).</li>
<li>The formatting string <code>"MM/dd/yyyy"</code>. The return value from
<code>splitContents()</code> will include the leading and trailing quotes for
string literals like this.</li></ol>

<p>Now your tag should begin to look like this:</p>

<pre class="sh_javascript"><code>exports.format_time = function(parser, token) {
    var bits = token.splitContents();
    var tagName = bits[0];
    if (bits.length != 3) {
      throw TemplateSyntaxError(tagName + 'requires exactly two arguments');
    }
    var dateToBeFormatted = bits[1];
    var formatString = bits[2];
    if (formatString[0] !== formatString.slice(-1) || ['"', "'"].indexOf(formatString) &lt; 0) {
      throw TemplateSyntaxError(tagName + ' tag's argument should be in quotes)
    }
    return FormatTimeNode(dateToBeFormatted, formatString.slice(1, -1));
}</code></pre>


<p>You also have to change the renderer to retrieve the actual contents of the
<code>modified</code> property of the <code>blogEntry</code> object.  This can be
accomplished by using the <code>Variable()</code> class.</p>

<p>To use the <code>Variable</code> class, simply instantiate it with the name of the
variable to be resolved, and then call <code>variable.resolve(context)</code>. So,
for example:</p>


<pre class="sh_javascript"><code>var {Variable} = require("reinhard/variable");
var FormatTimeNode = function(dateToBeFormatted, formatString) {
  this.dateToBeFormatted = new Variable(dateToBeFormatted, formatString)
  return this;
}
FormatTimeNode.prototype.render = function(context) {
    try {
      var actualDate = this.dateToBeFormatted.resolve(context);
      return dates.format(actualDate, this.formatString);
    } catch (e) {
      return '';
    }
}</code></pre>

<p>Variable resolution will throw an  exception if it cannot resolve the string
passed to it in the current context of the page.</p>

<pre class="sh_javascript"><code> // @@ explain parser.compileFilter() which deals with variables optionally
 // having filters; and explain `tokenKwargs()` which is helps with
 // turning keywoard arguments into FilterExpressions</code></pre>


<h2>Setting a variable in the context</h2>

<p>The above examples simply output a value. Generally, it's more flexible if your
template tags set template variables instead of outputting values. That way,
template authors can reuse the values that your template tags create.</p>

<p>To set a variable in the context, just use dictionary assignment on the context
object in the <code>render()</code> method. Here's an updated version of
<code>CurrentTimeNode</code> that sets a template variable <code>current_time</code> instead of
outputting it:</p>


<pre class="sh_javascript"><code>var CurrentTimeNode2 = function(formatString) {
  this.formatString = formatString;
  return this;
}
CurrentTimeNode2.prototype.render = function(context) {
  context['current_time'] = dates.format(new Date(), this.formatString);
  return;
}</code></pre>

<p>Note that <code>render()</code> returns the empty string. <code>render()</code> should always
return string output. If all the template tag does is set a variable,
<code>render()</code> should return the empty string.</p>

<p>Here's how you'd use this new version of the tag:</p>

<pre class="sh_javascript"><code>{% current_time "MM/dd/YYYY" %}&lt;p&gt;The time is {{ current_time }}.&lt;/p&gt;</code></pre>

<p><strong>Variable scope in context</strong></p>

<p>Any variable set in the context will only be available in the same <code>block</code>
of the template in which it was assigned. This behavior is intentional; it
provides a scope for variables so that they don't conflict with context in
other blocks.</p>

<p>But, there's a problem with <code>CurrentTimeNode2</code>: The variable name
<code>current_time</code> is hard-coded. This means you'll need to make sure your
template doesn't use <code>{{ current_time }}</code> anywhere else, because the
<code>{% current_time %}</code> will blindly overwrite that variable's value. A cleaner
solution is to make the template tag specify the name of the output variable,
like so:</p>


<pre class="sh_javascript"><code>{% current_time "MM/dd/YYYY" as my_current_time %}
&lt;p&gt;The current time is {{ my_current_time }}.&lt;/p&gt;</code></pre>

<p>To do that, you'll need to refactor both the compilation function and <code>Node</code>
class, like so:</p>


<pre class="sh_javascript"><code>var CurrentTimeNode3 = function(formatString, varName) {
  this.formatString = formatString;
  this.varName = varName;
  return this;
}
CurrentTimeNode3.prototype.render = function(context) {
  context[this.varName] = dates.format(new Date(), this.formatString);
  return;
}

exports.current_time = function(parser, token) {
  var bits = token.splitContents();
  var tagName = bits[0];
  if (bits.length !== 4) {
    throw TemplateSyntaxError(tagName + ' requires arguments');
  }
  var formatString = bits[1];
  // bits[2] == 'as'
  var varName = bits[3];
  if (formatString[0] !== formatString.slice(-1) || ['"', "'"].indexOf(formatString) &lt; 0) {
    throw TemplateSyntaxError(tagName + ' tag's argument should be in quotes)
  }
  return CurrentTimeNode3(formatString.slice(1, -1), varName);
}</code></pre>

<p>The difference here is that <code>current_time()</code> grabs the format string and
the variable name, passing both to <code>CurrentTimeNode3</code>.</p>

<h2>Parsing until another block tag</h2>

<p>Template tags can work in tandem. For instance, the standard <code>{% comment %}</code>
tag hides everything until <code>{% endcomment %}</code>. To create a template tag such
as this, use <code>parser.parse()</code> in your compilation function.</p>

<p>Here's how a simplified <code>{% comment %}</code> tag might be implemented:</p>

<pre class="sh_javascript"><code>var CommentNode = function() {};
CommentNode.prototype.getByType = Node.prototype.getByType;
CommentNode.prototype.render = function() {
  return '';
}</code></pre>


<p>Note: The actual implementation of <code>{% comment %}</code> is slightly different in
that it allows broken template tags to appear between <code>{% comment %}</code> and
<code>{% endcomment %}</code>. It does so by calling <code>parser.skipPast('endcomment')</code>
instead of <code>parser.parse(('endcomment',))</code> followed by
<code>parser.deleteFirstToken()</code>, thus avoiding the generation of a node list.</p>

<p><code>parser.parse()</code> takes a tuple of names of block tags ''to parse until''. It
returns an instance of <code>reinhardt.nodelist.NodeList</code>, which is a list of
all <code>Node</code> objects that the parser encountered ''before'' it encountered
any of the tags named in the tuple.</p>

<p>In <code>nodelist = parser.parse(('endcomment',))</code> in the above example,
<code>nodelist</code> is a list of all nodes between the <code>{% comment %}</code> and <code>{%
endcomment %}</code>, not counting <code>{% comment %}</code> and <code>{% endcomment %}</code>
themselves.</p>

<p>After <code>parser.parse()</code> is called, the parser hasn't yet "consumed" the
<code>{% endcomment %}</code> tag, so the code needs to explicitly call
<code>parser.deleteFirstToken()</code>.</p>

<p><code>CommentNode.render()</code> simply returns an empty string. Anything between
<code>{% comment %}</code> and <code>{% endcomment %}</code> is ignored.</p>

<h2>Parsing until another block tag, and saving contents</h2>

<p>In the previous example, <code>comment()</code> discarded everything between
<code>{% comment %}</code> and <code>{% endcomment %}</code>. Instead of doing that, it's
possible to do something with the code between block tags.</p>

<p>For example, here's a custom template tag, <code>{% upper %}</code>, that capitalizes
everything between itself and <code>{% endupper %}</code>.</p>

<p>Usage:</p>

<pre class="sh_javascript"><code>{% upper %}This will appear in uppercase, {{ your_name }}.{% endupper %}</code></pre>

<p>As in the previous example, we'll use <code>parser.parse()</code>. But this time, we
pass the resulting <code>nodelist</code> to the <code>Node</code>:</p>

<pre class="sh_javascript"><code>var UpperNode = function(nodelist) {
  this.nodelist = nodelist;
  return this;
}
UpperNode.prototype.getByType = Node.prototype.getByType;
UpperNode.prototype.render = function(context) {
    var output = this.nodelist.render(context);
    return output.toUpperCase();
}

exports.upper = function(parser, token) {
    var nodelist = parser.parse(['endupper']);
    parser.deleteFirstToken();
    return UpperNode(nodelist);
}</code></pre>


<p>The only new concept here is the <code>self.nodelist.render(context)</code> in
<code>UpperNode.render()</code>.</p>

<p>For more examples of complex rendering, see the source code for <code>{% if %}</code>,
<code>{% for %}</code>, <code>{% ifequal %}</code> or <code>{% ifchanged %}</code>. They live in
<code>reinhardt.tag.logic</code>.</p>



    </div>

    <div class="submenu">
      <div class="wrapper">
        <!--  -->
      </div>
    </div>

  </main>

  <footer>
    <nav class="ringolinks">
      <ul>
        <li><h4>Templates</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt/templates.html">Syntax overview</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt/filters.html">Filter reference</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt/tags.html">Tag reference</a></li>
      </ul>

      <ul>
        <li><h4>Models</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore/Basics.html">Connecting to the database</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore/Mapping.html">Model mapping</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore/Query.html">Querying</a></li>
      </ul>

      <ul>
        <li><h4>View</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//stick/route.html">Routing definitions</a></li>
      </ul>
      <ul>
        <li><h4>Other</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//deployment.html">Deployment</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>
