<!DOCTYPE html>
<head>
<title>VirtueJs</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="http://oberhamsi.github.io/virtuejs//static/main.css" />
<link rel="stylesheet" href="http://oberhamsi.github.io/virtuejs//static/sh_hns.css" />
<link rel="stylesheet" href="http://oberhamsi.github.io/virtuejs//static/tutorial.css" />
<script type="text/javascript" src="http://oberhamsi.github.io/virtuejs//static/sh_main.js"></script>
<script type="text/javascript" src="http://oberhamsi.github.io/virtuejs//static/sh_javascript.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript" src="http://oberhamsi.github.io/virtuejs//static/html5.js"></script>
<![endif]-->


</head>

<body onload="sh_highlightDocument()" lang="en">

  <header>
    <nav class="navigation">
      <h1><a href="http://oberhamsi.github.io/virtuejs/"><img src="http://oberhamsi.github.io/virtuejs//static/virtuejs-logo.png" alt="VirtueJs" title="Home" /></a></h1>
      <ul>
        <li><a href="http://oberhamsi.github.io/virtuejs//get_started.html">Get Started</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt.html">The template layer</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore.html">The model layer</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//stick.html">The view layer</a></li>
      </ul>
    </nav>
    <div style="clear: both;"></div>
  </header>

  <main class="main">

    <div class="content">
      <h1>The Reinhardt template language</h1>

<p>This document explains the language syntax of the Reinhardt template system.</p>

<p>The Reinhardt template language is designed to strike a balance between power and
ease. It's designed to feel comfortable to those used to working with HTML. If
you have any exposure to other text-based template languages, such as Smarty
or CheetahTemplate, you should feel right at home with Reinhardt's templates.</p>

<p><strong>Table of Contents</strong></p>

<ul><li><a href="#templates">Templates</a></li>
<li><a href="#variables">Variables</a></li>
<li><a href="#filters">Filters</a></li>
<li><a href="#default">default</a></li>
<li><a href="#length">length</a></li>
<li><a href="#striptags">striptags</a></li>
<li><a href="#tags">Tags</a></li>
<li><a href="#for">for</a></li>
<li><a href="#if-and-else">if and else</a></li>
<li><a href="#block-and-extends">block and extends</a></li>
<li><a href="#comments">Comments</a></li>
<li><a href="#template-inheritance">Template inheritance</a></li>
<li><a href="#automatic-html-escaping">Automatic HTML escaping</a></li>
<li><a href="#how-to-turn-it-off">How to turn it off</a></li>
<li><a href="#for-individual-variables">For individual variables</a></li>
<li><a href="#for-template-blocks">For template blocks</a></li>
<li><a href="#notes">Notes</a></li>
<li><a href="#string-literals-and-automatic-escaping">String literals and automatic escaping</a></li>
<li><a href="#accessing-functions">Accessing functions</a></li>
<li><a href="#custom-tag-and-filter-libraries">Custom tag and filter libraries</a></li>
<li><a href="#custom-libraries-and-template-inheritance">Custom libraries and template inheritance</a></li></ul>

<h1>Templates</h1>

<p>A template is simply a text file. It can generate any text-based format (HTML,
XML, CSV, etc.).</p>

<p>A template contains <strong>variables</strong>, which get replaced with values when the
template is evaluated, and <strong>tags</strong>, which control the logic of the template.</p>

<p>Below is a minimal template that illustrates a few basics. Each element will be
explained later in this document.</p>

<pre class="sh_javascript"><code>{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
&lt;h1&gt;{{ section.title }}&lt;/h1&gt;

{% for story in story_list %}
&lt;h2&gt;
  &lt;a href="{{ story.get_absolute_url }}"&gt;
    {{ story.headline|upper }}
  &lt;/a&gt;
&lt;/h2&gt;
&lt;p&gt;{{ story.tease|truncatewords:"100" }}&lt;/p&gt;
{% endfor %}
{% endblock %}</code></pre>


<h1>Variables</h1>

<p>Variables look like this: <code>{{ variable }}</code>. When the template engine
encounters a variable, it evaluates that variable and replaces it with the
result. Variable names consist of any combination of alphanumeric characters
and the underscore (<code>"_"</code>). The dot (<code>"."</code>) also appears in variable
sections, although that has a special meaning, as indicated below.
Importantly, <em>you cannot have spaces or punctuation characters in variable
names.</em></p>

<p>In the above example, <code>{{ section.title }}</code> will be replaced with the
<code>title</code> attribute of the <code>section</code> object.</p>

<p>If you use a variable that doesn't exist, the template system will insert
"INVALID".</p>

<p>Note that "bar" in a template expression like <code>{{ foo.bar }}</code> will be
interpreted as a literal string and not using the value of the variable "bar",
if one exists in the template context.</p>

<h1>Filters</h1>

<p>You can modify variables for display by using <strong>filters</strong>.</p>

<p>Filters look like this: <code>{{ name|lower }}</code>. This displays the value of the
<code>{{ name }}</code> variable after being filtered through the <code>lower</code>
filter, which converts text to lowercase. Use a pipe (<code>|</code>) to apply a filter.</p>

<p>Filters can be "chained." The output of one filter is applied to the next.
<code>{{ text|escape|linebreaks }}</code> is a common idiom for escaping text contents,
then converting line breaks to <code>&lt;p&gt;</code> tags.</p>

<p>Some filters take arguments. A filter argument looks like this: <code>{{
bio|truncatewords:30 }}</code>. This will display the first 30 words of the <code>bio</code>
variable.</p>

<p>Filter arguments that contain spaces must be quoted; for example, to join a
list with commas and spaced you'd use <code>{{ list|join:", " }}</code>.</p>

<p>Reinhardt provides about thirty built-in template filters. You can read all about
them in the <a href="filters.md">built-in filter reference</a>. To give you a taste of what's
available, here are some of the more commonly used template filters:</p>

<h2><code>default</code></h2>

<p>If a variable is false or empty, use given default. Otherwise, use the
value of the variable</p>

<pre class="sh_javascript"><code>For example:

    {{ value|default:"nothing" }}

If ``value`` isn't provided or is empty, the above will display
"``nothing``".</code></pre>

<h2><code>length</code></h2>

<p>Returns the length of the value. This works for both strings and lists;
for example:</p>

<pre class="sh_javascript"><code>    {{ value|length }}</code></pre>

<p>If <code>value</code> is <code>['a', 'b', 'c', 'd']</code>, the output will be <code>4</code>.</p>

<h2><code>striptags</code></h2>

<p>Strips all <a href="/wiki/X" title="wiki link">X</a>HTML tags. For example:</p>

<pre class="sh_javascript"><code>    {{ value|striptags }}</code></pre>

<p>If <code>value</code> is <code>"&lt;b&gt;Joel&lt;/b&gt; &lt;button&gt;is&lt;/button&gt; a
&lt;span&gt;slug&lt;/span&gt;"</code>, the output will be <code>"Joel is a slug"</code>.</p>

<p>Again, these are just a few examples; see the (filter reference)<a href="/wiki/filters.md" title="wiki link">filters.md</a> for the complete list.</p>


<h1>Tags</h1>

<p>Tags look like this: <code>{% tag %}</code>. Tags are more complex than variables: Some
create text in the output, some control flow by performing loops or logic, and
some load external information into the template to be used by later variables.</p>

<p>Some tags require beginning and ending tags (i.e. <code>{% tag %} ... tag contents
... {% endtag %}</code>).</p>

<p>Reinhardt ships with about two dozen built-in template tags. You can read all about
them in the <a href="tags.md">tag reference</a>. To give
you a taste of what's available, here are some of the more commonly used
tags:</p>

<h2><code>for</code></h2>

<p>Loop over each item in an array.  For example, to display a list of athletes
provided in <code>athlete_list</code>:</p>

<pre class="sh_javascript"><code>    &lt;ul&gt;
    {% for athlete in athlete_list %}
        &lt;li&gt;{{ athlete.name }}&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;</code></pre>

<h2><code>if</code> and <code>else</code></h2>

<p>Evaluates a variable, and if that variable is "true" the contents of the
block are displayed:</p>

<pre class="sh_javascript"><code>    {% if athlete_list %}
        Number of athletes: {{ athlete_list|length }}
    {% else %}
        No athletes.
    {% endif %}</code></pre>

<p>In the above, if <code>athlete_list</code> is not empty, the number of athletes
will be displayed by the <code>{{ athlete_list|length }}</code> variable.</p>

<p>You can also use filters and various operators in the <code>if</code> tag:</p>

<pre class="sh_javascript"><code>    {% if athlete_list|length &gt; 1 %}
       Team: {% for athlete in athlete_list %} ... {% endfor %}
    {% else %}
       Athlete: {{ athlete_list.0.name }}
    {% endif %}</code></pre>

<p>While the above example works, be aware that most template filters return
strings, so mathematical comparisons using filters will generally not work
as you expect. <code>length</code> is an exception.</p>

<h2><code>block</code> and <code>extends</code></h2>

<p>Set up template inheritance (see below), a powerful way
of cutting down on "boilerplate" in templates.</p>

<p>Again, the above is only a selection of the whole list; see the
<a href="tags.md">built-in tag reference</a> for the complete list.</p>


<h1>Comments</h1>

<p>To comment-out part of a line in a template, use the comment syntax: <code>{# #}</code>.</p>

<p>For example, this template would render as <code>'hello'</code>:</p>

<pre class="sh_javascript"><code>{# greeting #}hello</code></pre>

<p>A comment can contain any template code, invalid or not. For example:</p>

<pre class="sh_javascript"><code>{# {% if foo %}bar{% else %} #}</code></pre>

<p>This syntax can only be used for single-line comments (no newlines are permitted
between the <code>{#</code> and <code>#}</code> delimiters). If you need to comment out a
multiline portion of the template, see the <code>comment</code> tag.</p>


<h1>Template inheritance</h1>

<p>The most powerful -- and thus the most complex -- part of Reinhardt's template
engine is template inheritance. Template inheritance allows you to build a base
"skeleton" template that contains all the common elements of your site and
defines <strong>blocks</strong> that child templates can override.</p>

<p>It's easiest to understand template inheritance by starting with an example:</p>

<pre class="sh_javascript"><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;link rel="stylesheet" href="style.css" /&gt;
    &lt;title&gt;{% block title %}My amazing site{% endblock %}&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id="sidebar"&gt;
        {% block sidebar %}
        &lt;ul&gt;
            &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="/blog/"&gt;Blog&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        {% endblock %}
    &lt;/div&gt;

    &lt;div id="content"&gt;
        {% block content %}{% endblock %}
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

<p>This template, which we'll call <code>base.html</code>, defines a simple HTML skeleton
document that you might use for a simple two-column page. It's the job of
"child" templates to fill the empty blocks with content.</p>

<p>In this example, the <code>block</code> tag defines three blocks that child
templates can fill in. All the <code>block</code> tag does is to tell the template
engine that a child template may override those portions of the template.</p>

<p>A child template might look like this:</p>

<pre class="sh_javascript"><code>{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
{% for entry in blog_entries %}
    &lt;h2&gt;{{ entry.title }}&lt;/h2&gt;
    &lt;p&gt;{{ entry.body }}&lt;/p&gt;
{% endfor %}
{% endblock %}</code></pre>

<p>The <code>extends</code> tag is the key here. It tells the template engine that
this template "extends" another template. When the template system evaluates
this template, first it locates the parent -- in this case, "base.html".</p>

<p>At that point, the template engine will notice the three <code>block</code> tags
in <code>base.html</code> and replace those blocks with the contents of the child
template. Depending on the value of <code>blog_entries</code>, the output might look
like:</p>

<pre class="sh_javascript"><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;link rel="stylesheet" href="style.css" /&gt;
    &lt;title&gt;My amazing blog&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id="sidebar"&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="/blog/"&gt;Blog&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;

    &lt;div id="content"&gt;
        &lt;h2&gt;Entry one&lt;/h2&gt;
        &lt;p&gt;This is my first entry.&lt;/p&gt;

        &lt;h2&gt;Entry two&lt;/h2&gt;
        &lt;p&gt;This is my second entry.&lt;/p&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

<p>Note that since the child template didn't define the <code>sidebar</code> block, the
value from the parent template is used instead. Content within a <code>{% block %}</code>
tag in a parent template is always used as a fallback.</p>

<p>You can use as many levels of inheritance as needed. One common way of using
inheritance is the following three-level approach:</p>

<ul><li>Create a <code>base.html</code> template that holds the main look-and-feel of your
site.</li>
<li>Create a <code>base_SECTIONNAME.html</code> template for each "section" of your
site. For example, <code>base_news.html</code>, <code>base_sports.html</code>. These
templates all extend <code>base.html</code> and include section-specific
styles/design.</li>
<li>Create individual templates for each type of page, such as a news
article or blog entry. These templates extend the appropriate section
template.</li></ul>

<p>This approach maximizes code reuse and makes it easy to add items to shared
content areas, such as section-wide navigation.</p>

<p>Here are some tips for working with inheritance:</p>

<ul><li><p>If you use <code>{% extends %}&lt;extends&gt;</code> in a template, it must be the first template
tag in that template. Template inheritance won't work, otherwise.</p></li>

<li><p>More <code>{% block %}&lt;block&gt;</code> tags in your base templates are better. Remember,
child templates don't have to define all parent blocks, so you can fill
in reasonable defaults in a number of blocks, then only define the ones
you need later. It's better to have more hooks than fewer hooks.</p></li>

<li><p>If you find yourself duplicating content in a number of templates, it
probably means you should move that content to a <code>{% block %}</code> in a
parent template.</p></li>

<li><p>If you need to get the content of the block from the parent template,
the <code>{{ block.super }}</code> variable will do the trick. This is useful
if you want to add to the contents of a parent block instead of
completely overriding it. Data inserted using <code>{{ block.super }}</code> will
not be automatically escaped (see the <code>next section</code>_), since it was
already escaped, if necessary, in the parent template.</p></li>

<li><p>For extra readability, you can optionally give a <em>name</em> to your
<code>{% endblock %}</code> tag. For example:</p>

<p>{% block content %}
...
{% endblock content %}</p></li></ul>

<p>In larger templates, this technique helps you see which <code>{% block %}</code>
tags are being closed.</p>

<p>Finally, note that you can't define multiple <code>block</code> tags with the same
name in the same template. This limitation exists because a block tag works in
"both" directions. That is, a block tag doesn't just provide a hole to fill --
it also defines the content that fills the hole in the <em>parent</em>. If there were
two similarly-named <code>block</code> tags in a template, that template's parent
wouldn't know which one of the blocks' content to use.</p>


<h1>Automatic HTML escaping</h1>

<p>When generating HTML from templates, there's always a risk that a variable will
include characters that affect the resulting HTML. For example, consider this
template fragment:</p>

<pre class="sh_javascript"><code>Hello, {{ name }}.</code></pre>

<p>At first, this seems like a harmless way to display a user's name, but consider
what would happen if the user entered his name as this:</p>

<pre class="sh_javascript"><code>&lt;script&gt;alert('hello')&lt;/script&gt;</code></pre>

<p>With this name value, the template would be rendered as:</p>

<pre class="sh_javascript"><code>Hello, &lt;script&gt;alert('hello')&lt;/script&gt;</code></pre>

<p>...which means the browser would pop-up a JavaScript alert box!</p>

<p>Similarly, what if the name contained a <code>'&lt;'</code> symbol, like this?</p>

<p>.. code-block: html</p>

<pre class="sh_javascript"><code>&lt;b&gt;username</code></pre>

<p>That would result in a rendered template like this:</p>

<pre class="sh_javascript"><code>Hello, &lt;b&gt;username</code></pre>

<p>...which, in turn, would result in the remainder of the Web page being bolded!</p>

<p>Clearly, user-submitted data shouldn't be trusted blindly and inserted directly
into your Web pages, because a malicious user could use this kind of hole to
do potentially bad things. This type of security exploit is called a
<a href="http://en.wikipedia.org/wiki/Cross-site_scripting">Cross Site Scripting</a> attack.</p>

<p>To avoid this problem, you have two options:</p>

<ul><li><p>One, you can make sure to run each untrusted variable through the
<code>escape</code> filter (documented below), which converts potentially
harmful HTML characters to unharmful ones. This was the default solution
in Reinhardt for its first few years, but the problem is that it puts the
onus on <em>you</em>, the developer / template author, to ensure you're escaping
everything. It's easy to forget to escape data.</p></li>

<li><p>Two, you can take advantage of Reinhardt's automatic HTML escaping. The
remainder of this section describes how auto-escaping works.</p></li></ul>

<p>By default in Reinhardt, every template automatically escapes the output
of every variable tag. Specifically, these five characters are
escaped:</p>

<ul><li><code>&lt;</code> is converted to <code>&amp;lt;</code></li>
<li><code>&gt;</code> is converted to <code>&amp;gt;</code></li>
<li><code>'</code> (single quote) is converted to <code>&amp;#39;</code></li>
<li><code>"</code> (double quote) is converted to <code>&amp;quot;</code></li>
<li><code>&amp;</code> is converted to <code>&amp;amp;</code></li></ul>

<p>Again, we stress that this behavior is on by default. If you're using Reinhardt's
template system, you're protected.</p>

<h2>How to turn it off</h2>

<p>If you don't want data to be auto-escaped, on a per-site, per-template level or
per-variable level, you can turn it off in several ways.</p>

<p>Why would you want to turn it off? Because sometimes, template variables
contain data that you <em>intend</em> to be rendered as raw HTML, in which case you
don't want their contents to be escaped. For example, you might store a blob of
HTML in your database and want to embed that directly into your template. Or,
you might be using Reinhardt's template system to produce text that is <em>not</em> HTML
-- like an email message, for instance.</p>

<h2>For individual variables</h2>

<p>To disable auto-escaping for an individual variable, use the <code>safe</code>
filter:</p>

<pre class="sh_javascript"><code>This will be escaped: {{ data }}
This will not be escaped: {{ data|safe }}</code></pre>

<p>Think of <em>safe</em> as shorthand for <em>safe from further escaping</em> or <em>can be
safely interpreted as HTML</em>. In this example, if <code>data</code> contains <code>'&lt;b&gt;'</code>,
the output will be:</p>

<pre class="sh_javascript"><code>This will be escaped: &amp;lt;b&amp;gt;
This will not be escaped: &lt;b&gt;</code></pre>

<h2>For template blocks</h2>

<p>To control auto-escaping for a template, wrap the template (or just a
particular section of the template) in the <code>autoescape</code> tag, like so:</p>

<pre class="sh_javascript"><code>{% autoescape off %}
    Hello {{ name }}
{% endautoescape %}</code></pre>

<p>The <code>autoescape</code> tag takes either <code>on</code> or <code>off</code> as its argument. At
times, you might want to force auto-escaping when it would otherwise be
disabled. Here is an example template:</p>

<pre class="sh_javascript"><code>Auto-escaping is on by default. Hello {{ name }}

{% autoescape off %}
    This will not be auto-escaped: {{ data }}.

    Nor this: {{ other_data }}
    {% autoescape on %}
        Auto-escaping applies again: {{ name }}
    {% endautoescape %}
{% endautoescape %}</code></pre>

<p>The auto-escaping tag passes its effect onto templates that extend the
current one as well as templates included via the <code>include</code> tag,
just like all block tags. For example:</p>

<pre class="sh_javascript"><code># base.html

{% autoescape off %}
&lt;h1&gt;{% block title %}{% endblock %}&lt;/h1&gt;
{% block content %}
{% endblock %}
{% endautoescape %}


# child.html

{% extends "base.html" %}
{% block title %}This &amp; that{% endblock %}
{% block content %}{{ greeting }}{% endblock %}</code></pre>

<p>Because auto-escaping is turned off in the base template, it will also be
turned off in the child template, resulting in the following rendered
HTML when the <code>greeting</code> variable contains the string <code>&lt;b&gt;Hello!&lt;/b&gt;</code>:</p>

<pre class="sh_javascript"><code>&lt;h1&gt;This &amp; that&lt;/h1&gt;
&lt;b&gt;Hello!&lt;/b&gt;</code></pre>

<h2>Notes</h2>

<p>Generally, template authors don't need to worry about auto-escaping very much.
Developers on the JavaScript side (people writing views and custom filters) need to
think about the cases in which data shouldn't be escaped, and mark data
appropriately, so things Just Work in the template.</p>

<p>If you're creating a template that might be used in situations where you're
not sure whether auto-escaping is enabled, then add an <code>escape</code> filter
to any variable that needs escaping. When auto-escaping is on, there's no
danger of the <code>escape</code> filter <em>double-escaping</em> data -- the
<code>escape</code> filter does not affect auto-escaped variables.</p>

<h2>String literals and automatic escaping</h2>

<p>As we mentioned earlier, filter arguments can be strings:</p>

<pre class="sh_javascript"><code>{{ data|default:"This is a string literal." }}</code></pre>

<p>All string literals are inserted <strong>without</strong> any automatic escaping into the
template -- they act as if they were all passed through the <code>safe</code>
filter. The reasoning behind this is that the template author is in control of
what goes into the string literal, so they can make sure the text is correctly
escaped when the template is written.</p>

<p>This means you would write :</p>

<pre class="sh_javascript"><code>{{ data|default:"3 &amp;lt; 2" }}</code></pre>

<p>...rather than :</p>

<pre class="sh_javascript"><code>{{ data|default:"3 &lt; 2" }}  &lt;-- Bad! Don't do this.</code></pre>

<p>This doesn't affect what happens to data coming from the variable itself.
The variable's contents are still automatically escaped, if necessary, because
they're beyond the control of the template author.</p>

<h1>Accessing functions</h1>

<p>Most method functions attached to objects are also available from within templates.
This means that templates have access to much more than just class attributes
(like field names) and variables passed in from views.</p>

<p>Because Reinhardt intentionally limits the amount of logic processing available
in the template language, it is not possible to pass arguments to function calls
accessed from within templates. Data should be calculated in views, then passed
to templates for display.</p>

<h1>Custom tag and filter libraries</h1>

<p>Certain applications provide custom tag and filter libraries. To access them in
a template, use the <code>loadtag</code> and <code>loadfilter</code> tag respectively:</p>

<pre class="sh_javascript"><code>{% loadtag comments %}

{% comment_form for blogs.entries entry.id with is_public yes %}</code></pre>

<p>In the above, the <code>loadtag</code> tag loads the <code>comments</code> tag library, which then
makes the <code>comment_form</code> tag available for use. Consult the documentation
area in your admin to find the list of custom libraries in your installation.</p>

<p>The <code>loadtag</code> tag can take multiple library names, separated by spaces.
Example:</p>

<pre class="sh_javascript"><code>{% loadtag comments i18n %}</code></pre>

<p>See the <a href="custom-template-tags.md">HowTo on custom template tags</a> for information on writing your own custom
template libraries.</p>

<h2>Custom libraries and template inheritance</h2>

<p>When you load a custom tag or filter library, the tags/filters are only made
available to the current template -- not any parent or child templates along
the template-inheritance path.</p>

<p>For example, if a template <code>foo.html</code> has <code>{% load comments %}</code>, a child
template (e.g., one that has <code>{% extends "foo.html" %}</code>) will <em>not</em> have
access to the comments template tags and filters. The child template is
responsible for its own <code>{% load comments %}</code>.</p>

<p>This is a feature for the sake of maintainability and sanity.</p>



    </div>

    <div class="submenu">
      <div class="wrapper">
        <!--  -->
      </div>
    </div>

  </main>

  <footer>
    <nav class="ringolinks">
      <ul>
        <li><h4>Templates</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt/templates.html">Syntax overview</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt/filters.html">Filter reference</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//reinhardt/tags.html">Tag reference</a></li>
      </ul>

      <ul>
        <li><h4>Models</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore/Basics.html">Connecting to the database</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore/Mapping.html">Model mapping</a></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//sqlstore/Query.html">Querying</a></li>
      </ul>

      <ul>
        <li><h4>View</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//stick/route.html">Routing definitions</a></li>
      </ul>
      <ul>
        <li><h4>Other</h4></li>
        <li><a href="http://oberhamsi.github.io/virtuejs//deployment.html">Deployment</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>
