<!DOCTYPE html>
<head>
<title>VirtueJs</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="http://localhost/virtuejs//static/main.css" />
<link rel="stylesheet" href="http://localhost/virtuejs//static/tutorial.css" />
<link rel="stylesheet" href="http://localhost/virtuejs//static/sh_hns.css" />
<script type="text/javascript" src="http://localhost/virtuejs//static/sh_main.js"></script>
<script type="text/javascript" src="http://localhost/virtuejs//static/sh_javascript.js"></script>
<script type="text/javascript" src="http://localhost/virtuejs//static/jquery.js"></script>
<script type="text/javascript" src="http://localhost/virtuejs//static/main.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript" src="http://localhost/virtuejs//static/html5.js"></script>
<![endif]-->

</head>
<body onload="sh_highlightDocument()">

<div id="container">
  <div id="nav">
      <div id="header">
        <a href="http://localhost/virtuejs/" id="logo">VirtueJs</a>
      </div>
    <ul id="sections">
      <li>
        <a href="http://localhost/virtuejs//stick.html">Views</a>
      </li>
      <li>
        <a href="http://localhost/virtuejs//reinhardt.html">Templates</a>
        <ul>
          <li>
            <a href="http://localhost/virtuejs//reinhardt/tags.html">Tag reference</a>
          </li>
          <li>
            <a href="http://localhost/virtuejs//reinhardt/filters.html">Filter reference</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://localhost/virtuejs//sqlstore.html">Models</a>
        <ul>
          <li>
            <a href="http://localhost/virtuejs//sqlstore/Mapping.html">Mapping</a>
          </li>
          <li>
            <a href="http://localhost/virtuejs//sqlstore/Query.html">Queries</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://localhost/virtuejs//rp/Home.html">Ringo package manager</a>
      </li>

  </div>
  <div id="content">
      <h1>VirtueJs</h1>

<p>VirtueJs is a loosely coupled web application framework on top of <a href="http://ringojs.org">RingoJs</a>. It pulls together the best of breed Ringo packages to provide templating, a view engine and an ORM.</p>

<h2>What's cool about it?</h2>

<p>If you are a Java developer and want to give a dynamic language a shot, VirtueJs makes a lot of sense because we have good <a href="http://ringojs.org/documentation/java_integration">Java integration</a>.</p>

<p>If you are a seasoned JavaScript developer, you'll enjoy the modern JavaScript as well as Ringo's extensive <a href="http://ringojs.org/api/master/index.html">standard library</a> and <a href="http://ringojs.org/documentation">tools</a>.</p>

<h2>Show me the code</h2>

<p>View code:</p>

<pre class="sh_javascript"><code>  app.configure('error', 'notfound', 'route');
    app.get('/helloworld', function() {
       return response.json(fooObject)
    });</code></pre>

<p>A template:</p>

<pre class="sh_javascript"><code>{% extends 'base.html' %}
{% block title %}Example Site{% endblock %}
{% block content %}
  &lt;ul&gt;
  {% for user in users %}
    &lt;li&gt;&lt;a href="{{ user.url }}"&gt;{{ user.username }}&lt;/a&gt;&lt;/li&gt;
  {% endfor %}
  &lt;/ul&gt;
{% endblock %}</code></pre>

<p>Database models:</p>

<pre class="sh_javascript"><code>var User = db.defineEntity('User', {
   properties: {
      firstname: 'string',
      likesCats: 'boolean',
      location: {
         type: 'object',
         entity: 'Location'
      }
   }
});</code></pre>

<p>Talking to Java:</p>

<pre class="sh_javascript"><code>var hashMap = new java.util.HashMap();
hashMap.put('foo', 'testing');</code></pre>

<p>We consider Java Integration one of our killer features. If you're into Java, this should get you excited: <a href="http://ringojs.org/documentation/java_integration">Java Integration in Ringo</a></p>


  </div>
</div>

</body>

