<!DOCTYPE html>
<head>
<title>VirtueJs</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{baseUri}}/static/main.css" />
<link rel="stylesheet" href="{{baseUri}}/static/tutorial.css" />
<link rel="stylesheet" href="{{baseUri}}/static/sh_hns.css" />
<script type="text/javascript" src="{{baseUri}}/static/sh_main.js"></script>
<script type="text/javascript" src="{{baseUri}}/static/sh_javascript.js"></script>
<script type="text/javascript" src="{{baseUri}}/static/jquery.js"></script>
<script type="text/javascript" src="{{baseUri}}/static/main.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript" src="{{baseUri}}/static/html5.js"></script>
<![endif]-->

</head>
<body onload="sh_highlightDocument()">

<div id="container">
  <div id="nav">
      <div id="header">
        <a href="{{baseUri}}" id="logo">VirtueJs</a>
      </div>
    <ul id="sections">
      <li>
        <a href="{{baseUri}}/stick.html">URL Routing</a>
      </li>
      <li>
        <a href="{{baseUri}}/reinhardt.html">Templates</a>
        <ul>
          <li>
            <a href="{{baseUri}}/reinhardt/tags.html">Tag reference</a>
          </li>
          <li>
            <a href="{{baseUri}}/reinhardt/filters.html">Filter reference</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{baseUri}}/sqlstore.html">Database access</a>
        <ul>
          <li>
            <a href="{{baseUri}}/sqlstore/Mapping.html">Mapping</a>
          </li>
          <li>
            <a href="{{baseUri}}/sqlstore/Query.html">Queries</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{baseUri}}/rp/Home.html">Ringo package manager</a>
      </li>

  </div>
  <div id="content">
      {{{content}}}
  </div>
</div>

</body>

