<!DOCTYPE html>
<head>
<title>VirtueJs</title>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{baseUri}}/static/main.css" />
<link rel="stylesheet" href="{{baseUri}}/static/sh_hns.css" />
<link rel="stylesheet" href="{{baseUri}}/static/tutorial.css" />
<script type="text/javascript" src="{{baseUri}}/static/sh_main.js"></script>
<script type="text/javascript" src="{{baseUri}}/static/sh_javascript.js"></script>

<!--[if lte IE 8]>
<script type="text/javascript" src="{{baseUri}}/static/html5.js"></script>
<![endif]-->

{{{head}}}
</head>

<body onload="sh_highlightDocument()" lang="en">

  <header>
    <nav class="navigation">
      <h1><a href="{{baseUri}}"><img src="{{baseUri}}/static/virtuejs-logo.png" alt="VirtueJs" title="Home" /></a></h1>
      <ul>
        <li><a href="{{baseUri}}/get_started.html">Get Started</a></li>
        <li><a href="{{baseUri}}/reinhardt.html">The template layer</a></li>
        <li><a href="{{baseUri}}/sqlstore.html">The model layer</a></li>
        <li><a href="{{baseUri}}/stick.html">The view layer</a></li>
      </ul>
    </nav>
    <div style="clear: both;"></div>
  </header>

  <main class="main">

    <div class="content">
      {{{content}}}
    </div>

    <div class="submenu">
      <div class="wrapper">
        {{{menu}}}
      </div>
    </div>

  </main>

  <footer>
    <nav class="ringolinks">
      <ul>
        <li><h4>Templates</h4></li>
        <li><a href="{{baseUri}}/reinhardt/templates.html">Syntax overview</a></li>
        <li><a href="{{baseUri}}/reinhardt/filters.html">Filter reference</a></li>
        <li><a href="{{baseUri}}/reinhardt/tags.html">Tag reference</a></li>
      </ul>

      <ul>
        <li><h4>Models</h4></li>
        <li><a href="{{baseUri}}/sqlstore/Basics.html">Connecting to the database</a></li>
        <li><a href="{{baseUri}}/sqlstore/Mapping.html">Model mapping</a></li>
        <li><a href="{{baseUri}}/sqlstore/Query.html">Querying</a></li>
      </ul>

      <ul>
        <li><h4>View</h4></li>
        <li><a href="{{baseUri}}/stick/route.html">Routing definitions</a></li>
      </ul>
      <ul>
        <li><h4>Other</h4></li>
        <li><a href="{{baseUri}}/deployment.html">Deployment</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>
